/*Reset*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Inter", sans-serif;
  background: #f9f9f9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button,
input {
  border: 0;
}

button:focus,
input:focus {
  border: 0;
}

.container {
  width: 90%;
  margin: 0 auto;
}

@media screen and (min-width: 1024px) {
  .container {
    width: 75%;
  }
}

main .header {
  padding: 2.875rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .header .logo {
  color: #2f2f2f;
  font-family: "Sen", sans-serif;
  font-size: 2rem;
  font-weight: 700;
}

main .header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.813rem;
}

main .header nav .btn {
  border: 2px solid #EAEAEA;
  border-radius: 100px;
  color: #2f2f2f;
}

main .header nav .btn:hover {
  background: #EAEAEA;
}

main .header nav .btn-search {
  padding: 1rem;
  background: #fff;
  cursor: pointer;
}

main .header nav .btn-login {
  padding: 1rem 2.5rem;
  background: #fff;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
}

main .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 6.5rem;
  position: relative;
  height: 100vh;
}

main .content .subtitle {
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 2.5rem;
  color: #2f2f2f;
}

main .content .title {
  font-size: 4.5rem;
  line-height: 4.375rem;
  font-weight: 700;
  color: #2f2f2f;
  text-align: center;
  width: 55%;
  margin-bottom: 5.125rem;
}

main .content .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3.25rem;
}

main .content .buttons .btn {
  padding: 1rem 2.5rem;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 600;
}

main .content .buttons .btn-create-memoji {
  background: #6610F2;
  color: #ffffff;
  border: 2px solid #6610F2;
}

main .content .buttons .btn-create-memoji:hover {
  background: #ffffff;
  color: #6610F2;
}

main .content .buttons .btn-library {
  color: #2f2f2f;
  border: 2px solid #EAEAEA;
}

main .content .buttons .btn-library:hover {
  background: #2f2f2f;
  border: 2px solid #2f2f2f;
  color: #EAEAEA;
}

main .content .memoji {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .content .memoji:nth-of-type(2) {
  top: 40px;
  left: 50px;
  width: 200px;
  height: 200px;
  background: linear-gradient(136.92deg, #2DC7ED 3.14%, rgba(45, 199, 237, 0) 100%);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

main .content .memoji:nth-of-type(2) img {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

main .content .memoji:nth-of-type(3) {
  top: 10px;
  right: 90px;
  width: 200px;
  height: 200px;
  background: -webkit-gradient(linear, right top, left top, from(#F2C94C), to(rgba(242, 201, 76, 0)));
  background: linear-gradient(270deg, #F2C94C 0%, rgba(242, 201, 76, 0) 100%);
  border-radius: 50%;
}

main .content .memoji:nth-of-type(4) {
  bottom: 90px;
  left: 120px;
  width: 200px;
  height: 200px;
  background: linear-gradient(136.92deg, #EF7C89 3.14%, rgba(239, 124, 137, 0) 100%);
  border-radius: 30px;
}

main .content .memoji:nth-of-type(5) {
  bottom: 40px;
  left: 700px;
  width: 200px;
  height: 200px;
  background: -webkit-gradient(linear, right top, left top, from(#7248EC), to(rgba(114, 72, 236, 0)));
  background: linear-gradient(270deg, #7248EC 0%, rgba(114, 72, 236, 0) 100%);
  border-radius: 50%;
}

main .content .memoji:nth-of-type(6) {
  bottom: 150px;
  right: 20px;
  width: 200px;
  height: 200px;
  background: -webkit-gradient(linear, left top, left bottom, from(#00E861), to(rgba(0, 232, 97, 0)));
  background: linear-gradient(180deg, #00E861 0%, rgba(0, 232, 97, 0) 100%);
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

main .content .memoji:nth-of-type(6) img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

main .testimonies {
  width: 80%;
  background: #FCFCFC;
  padding: 3.75rem 4.688rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 11.875rem;
  margin: 0 auto;
}

main .testimonies .testimony {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.375rem;
}

main .testimonies .testimony .name {
  color: #2f2f2f;
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 400;
  font-family: "Sen", sans-serif;
  padding-left: 0.75rem;
  border-left: 2px solid #6610F2;
}

main .testimonies .testimony .text {
  color: #2f2f2f;
  font-size: 1rem;
  line-height: 1.625rem;
  font-weight: 400;
  font-style: italic;
}

@media screen and (min-width: 1024px) {
  :root {
    font-size: 12px;
  }
  main .content .memoji:nth-of-type(2) {
    left: 10px;
  }
  main .content .memoji:nth-of-type(4) {
    left: 70px;
  }
  main .content .memoji:nth-of-type(5) {
    left: 400px;
    bottom: 0;
  }
  main .content .memoji:nth-of-type(2) {
    left: 10px;
  }
}
/*# sourceMappingURL=style.css.map */