@charset "UTF-8";
/*Variáveis*/
/*Reset*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100vw;
  font-family: "Montserrat";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button,
input {
  border: 0;
}

button:focus,
input:focus {
  border: 0;
}

.container {
  width: 90%;
  margin: 0 auto;
}

@media screen and (min-width: 1024px) {
  .container {
    width: 85%;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .discount {
  width: 100vw;
  height: 3.75rem;
  background: #181818;
  text-align: center;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .logo {
  width: 100vw;
  height: 3.75rem;
  font-size: 1.5rem;
  color: #181818;
  font-weight: 600;
  background: #fff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .banner {
  width: 100vw;
  min-height: 377px;
  background: url(../assets/wallpaper.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .banner .title {
  color: #fff;
  font-size: 1.65rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
}

main .banner .description {
  color: #fff;
  font-size: 1rem;
  line-height: 1.75rem;
}

main .shop {
  padding: 3.125rem 0;
  text-align: center;
}

main .shop .title {
  color: #181818;
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

main .shop .subtitle {
  color: #181818;
  font-size: 1rem;
  line-height: 1.75rem;
}

main .shop .items {
  margin-top: 3.75rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.875rem;
}

main .shop .items .item {
  background: #ebe9ea;
  width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  opacity: 0;
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
}

main .shop .items .item img {
  width: auto;
  height: 150px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

main .shop .items .item.animate {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media screen and (min-width: 1024px) {
  main .banner .description {
    width: 35%;
  }
  main .shop .items {
    gap: 0.625rem;
  }
  main .shop .items .item {
    width: 24%;
  }
  main .shop .items .item img {
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  main .shop .items .item:hover img {
    -webkit-transform: scale(1.1) rotate(-25deg);
            transform: scale(1.1) rotate(-25deg);
  }
}

@media screen and (min-width: 1600px) {
  main .banner {
    height: 480px;
  }
  main .banner .description {
    width: 25%;
  }
}

footer {
  width: 100vw;
  height: 60px;
  background: #181818;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}

footer .content {
  font-size: 1.125rem;
}
/*# sourceMappingURL=style.css.map */